.top-section {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/background.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}
.top-section-title {
  width: 40%;
  position: absolute;
  left: 30%;
  font-family: "Maven Pro", sans-serif;
  font-size: 40px;
  top: 40%;
  color: white;
  text-align: center;
}
.top-section-title-description {
  font-size: 20px;
}
.top-section-arrow {
  position: absolute;
  color: #19bd9a;
  bottom: 8%;
  left: 49%;
}

.new {
  height: 500px;
}

.navbar-brand {
  color: white !important;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.nav-link {
  font-size: 15px;
  color: white !important;
}

.nav-item {
  padding-right: 15px !important;
}

.nav-link:hover {
  border: 1px solid white;
  border-radius: 17px;
}

.nav-link {
  border: 1px solid transparent;
}

@media screen and (max-width: 800px) {
  .top-section-title {
    width: 70%;
    top: 20%;
    left: 15%;
  }
  .top-section-arrow {
    position: absolute;
    color: #19bd9a;
    bottom: 8%;
    left: 49%;
  }
}
.about-section {
  margin-top: 8%;
}
.about-section-text-title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}
.about-section-text-button {
  color: black;
  border: 1px solid black;
  border-radius: 10px;
}

/*# sourceMappingURL=style.css.map */
